{% extends 'Culvers/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for burger in BUTTERBURGERS %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ burger.pk }}">
                                    <label class="form-check-label">{{ burger.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ burger.price }}</p>
                            </div>
                            <p>{{ burger.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for chicken in chicken_sandwhiches %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ chicken.pk }}">
                                    <label class="form-check-label">{{ chicken.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ chicken.price }}</p>
                            </div>
                            <p>{{ chicken.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for seafood in seafood_salad %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                           
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ seafood.pk }}">
                                    <label class="form-check-label">{{ seafood.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ seafood.price }}</p>
                            </div>
                            <p>{{ seafood.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for side in sides %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                           
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ side.pk }}">
                                    <label class="form-check-label">{{ side.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ side.price }}</p>
                            </div>
                            <p>{{ side.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for drink in drinks %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                           
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ drink.pk }}">
                                    <label class="form-check-label">{{ drink.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ drink.price }}</p>
                            </div>
                            <p>{{ drink.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for custard in frozen_custard %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                           
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ custard.pk }}">
                                    <label class="form-check-label">{{ custard.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ custard.price }}</p>
                            </div>
                            <p>{{ custard.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <button class="btn btn-dark mt-5">Place Order!</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}